body{
    background-image: url(/images/Паровоз\ на\ ст.\ Петропавловск.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  .navbar-brand{
    font-size: 1.5em;
    color: #ffffff;
    font-family: Pacifico;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .navbar{
    font-family: 'Poiret One';
  }
  
  .scnd{
    background: linear-gradient(180deg, #ffffff 0%, #000000 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  @media (max-width: 768px){
    .navbar-brand{
      font-size: 1rem;
    }
  }
  /* Медиа запросы для нав бара */

.main-container{
  width: 80%;
  margin-left:auto;
  margin-right: auto;
  margin-top: 10%;
  background-color: wheat;
  padding: 2rem;
}

.main-container>.main>.img{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.main-container>.main>.name{
  text-align: center;
  margin-bottom: 0.5rem;
}

.main-container img{
  width: 100%;
  padding: 0% 0% 2% 0%;
}

.container_table{
    width: 100%;
    padding: 2%;
}

table.iksweb{
    width: 80%;
    border-collapse:collapse;
    border-spacing:0;
    margin-left: auto;
    margin-right: auto
}
table.iksweb,table.iksweb td, table.iksweb th {
	border: 2px solid #595959;
}
table.iksweb td,table.iksweb th {
	padding: 3px;
	width: auto;
	height: auto;
}
table.iksweb th {
	background: #347c99; 
	color: #fff; 
	font-weight: normal;
}


@media(max-width: 800px){
      .main-container{
        width: 100%;
        margin-top: 15%;
        padding: 1.3rem;
      }
      .main-container>.main>.img{
        width: 100%;
      }
      table.iksweb{
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}

button.footer{
  font-size: 1.5rem;
  border: none;
  background-color: white;
  display: none;
}

footer{
  background-color: white;
  height: 5%;
  width: 100%;
  
}

.fot-cont{
  display: flex ;
  justify-content: space-between;
  padding: 1.3rem;
}
.fot-cont a{
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2rem;
  color: #000000;
}


.fot-cont a:hover{
  color: #ffffff;
  transition: color .2s;
}

@media(max-width: 800px){
  button.footer{
    display: flex;
  }
  .fot-cont>.none{
    display: none;
  }
}

